<div class="brands-section">
  <h1 class="brands-section--heading">People We Work With</h1>
  <p class="brands-section--subtext">Its time to display your logo here.</p>
  <div class="brands-feed">
    <img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0786/3209/files/new-logo_350x@2x.png">
    <img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0786/3209/files/new-logo_350x@2x.png">
    <img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0786/3209/files/new-logo_350x@2x.png">
    <img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0786/3209/files/new-logo_350x@2x.png">
    <img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0786/3209/files/new-logo_350x@2x.png">
    <img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0786/3209/files/new-logo_350x@2x.png">
    <img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0786/3209/files/new-logo_350x@2x.png">
    <img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0786/3209/files/new-logo_350x@2x.png">
  </div>
</div>