
<div class="brands-slider-container"><!-- Slider main container -->
<div class="swiper">
  <h1 class="brands-section--heading">Some Of Our Clients</h1>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/lift-brand-logo.png?v=1675976471"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/w2w-brand-logo.png?v=1675976372"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/starbucks-brand-logo.png?v=1675976375"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/lift-brand-logo.png?v=1675976471"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/w2w-brand-logo.png?v=1675976372"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/starbucks-brand-logo.png?v=1675976375"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/lift-brand-logo.png?v=1675976471"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/w2w-brand-logo.png?v=1675976372"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/starbucks-brand-logo.png?v=1675976375"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/lift-brand-logo.png?v=1675976471"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/w2w-brand-logo.png?v=1675976372"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/starbucks-brand-logo.png?v=1675976375"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/lift-brand-logo.png?v=1675976471"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/w2w-brand-logo.png?v=1675976372"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/starbucks-brand-logo.png?v=1675976375"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/lift-brand-logo.png?v=1675976471"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/w2w-brand-logo.png?v=1675976372"></div>
    <div class="swiper-slide"><img class="brands-feed--logo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/starbucks-brand-logo.png?v=1675976375"></div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
</div>