<div class="footer-photo-gallery">
  <div class="footer-photo-gallery-container">
    <div><img class="footer-photo-gallery--photo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/photo-2.png?v=1676321259"></div>
    <div><img class="footer-photo-gallery--photo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/photo-4.png?v=1676321258"></div>
    <div><img class="footer-photo-gallery--photo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/photo-1.png?v=1676321258"></div>
    <div><img class="footer-photo-gallery--photo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/photo-6.png?v=1676321258"></div>
    <div><img class="footer-photo-gallery--photo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/photo-7.png?v=1676321258"></div>
    <div><img class="footer-photo-gallery--photo" src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/photo-3.png?v=1676321258"></div>
  </div>
</div>