<div class="testimonial-feed">
  <div class="testimonial-feed-wrapper">
    <div class="testimonial-image"><img src="https://cdn.shopify.com/s/files/1/0621/6223/9651/files/lift-atx-testimonial.webp?v=1676313503" alt=""></div>
    <div class="testimonial-review">
      <p>Unique Prints is the absolute only print shop I will EVER USE for my business LIFT ATX. They have been without a doubt the best vendor in regards to ALL that is merch, printing, branding, and overall customer satisfaction.</p>
      
      <p>Their process is simple, easy, and changes to any merchandise and ideas has always been easy and encouraged when needed. They are the best in the business and they have a CUSTOMER FOR LIFE.</p>
    </div>
  </div>
</div>
