<div class="why-us-section">
  <div class="why-us-section--inner">
    <div class="why-us-content why-us-content--text">
      <h1>Why we are the best</h1>
      <ul>
        <li>
          <h2>Best Quality Prints</h2>
          <p>With our years of experience and the top-tier equipment and supplies we can ensure that you get the highest quality prints.</p>
        </li>
        <li>
          <h2>No Minimums</h2>
          <p>We have many printing solutions to fit any order size and budget. </p>
        </li>
        <li>
          <h2>Free Local Deliver</h2>
          <p>If you're local to the Austin area get free delivery on us. We love to support our community.</p>
        </li>
      </ul>
    </div>
    <div class="why-us-content why-us-content--video">
      <video muted="" autoplay="" playsinline="" controls="" loop="" src="https://cdn.shopify.com/videos/c/o/v/31bb1ddeadec4e94a7020e48e8e100c7.mp4" width="100%">
      </video>
    </div>
  </div>
</div>
  
{% endstyle %}

{% schema %}
{
  "name": "Why Us Multicolumn",
  "class": "section",
  "tag": "section",
  "settings": [],
  "presets": [
  {
    "name": "Why Us Multicolumn",
    "blocks": []
  }
  ]
}
{% endschema %}
